@import './variables.scss';

body{
    background-color: $primaryWhiteColor;
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: 250px auto;
    min-height: 100vh;
    svg{
        width: 20px;
    }

   nav{
       #top{
        img{
            width: 80%;
            display: block;
            margin: 0 auto;
        }
        .half{
            display: none;
        }
       }

       label{
        // font-size: 60px;
        position: absolute;
        width: 50px;
        height: 50px;
        right: 30vw;
        border-radius: 20px;
        display: none;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        top: calc(50vh - 35px);
        color: $primaryWhiteColor;
        transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1) 4ms;
       }

       label:hover{
        color: #333;
        background-color: $primaryWhiteColor;
       }
   }
}
.halve{
    grid-template-columns: 80px auto;

    svg{
        width: 25px;
    }

    nav{
        #top{
         .half{
             width: 50%;
             display: block;
         }
         .full{
             display: none;
         }
        }

        ul{
            li{
                a{
                    flex-direction: column;
                    justify-content: center;
                    padding: 10px 0;
                    p{
                        // display: none;
                        font-size: 10px;
                        text-align: center;
                        width: 90%;
                        margin: 0 auto;
                    }
                    svg{
                        padding: 0px 0px 5px 0px;
                    }
                }

                a:hover{
                    p{
                        display: inline-block;
                    }
                }
            }
        }
    }

    header{
        #menuburger{
            svg{
                transform: rotate(90deg);
            }
        }
    }
}
main{
    min-height: 70vh;
    // background-color: red;
}

// side style (nav) 
nav{
    background-color: $whiteColor;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    
    #top{
        width: 100%;
        padding: 20px 0 5px 0;
        
    }
    #bottom{
        background-color: $primaryWhiteColor;
        width: 90%;
        border-radius: 15px;
        margin: 10px auto;
        overflow: hidden;

    }

    ul{
        width: 100%;
        margin: 20px auto 0 auto;
        padding: 0;
        li{
            // background-color: red;
            a{
                display: flex;
                min-height: 50px;
                margin-top: 3px;
                align-items: center;
                // flex-direction: row-reverse;
                p{
                    font-size: 14px;
                }
                svg{
                    padding: 0px 10px 0 20px;
                }
            }

            a:hover, .active{

                p{
                    color: $primaryColor;
                }
                background-color: $primaryWhiteColor;

                svg{
                    stroke: $primaryColor;
                }
            }
        }
    }
}

// header
header{
    background-color: $whiteColor;
    min-height: 40px;
    padding: 10px 5% 10px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #menuburger {
        display: flex;
        justify-content: center;
        align-items: center;

        svg{
            width: 30px;
            height: 30px;
            padding: 5px;
            cursor: pointer;
            border-radius: 50%;
        }

        img{display: none; width: 100px; padding: 4px 5px 10px 5px;}


        svg:hover{
            box-shadow: 1px 1px 10px 1px $primaryWhiteColor;
        }



      }

      #user_profiling{
          ul{
              display: flex;
              margin: 0;
              padding: 0;
              gap: 5px;
              li{
                  svg{
                      width: 25px;
                      padding: 10px;
                      border-radius: 50%;
                      cursor: pointer;
                  }
                  svg:hover{
                      stroke: $primaryColor;
                  }
                  button{
                      width: fit-content;
                    font-size: 15px;
                    font-weight: 800;
                    padding: 12px 10px;
                    border-radius: 4px;
                  }

              }
              

              .dropdown{
                position: relative;
                ul{
                    position: absolute;
                    margin: 0;
                    padding: 10px 0;
                    width: 200px;
                    display: none;
                    flex-flow: column nowrap;
                    background-color: $whiteColor;
                    right: 0;
                    gap: 0;
                    border: 1px solid $whiteColor;
                    box-shadow: 0px 0px 1px 4px $whiteColor;
                    border-top-color: transparent;
                    transition: all 4s cubic-bezier(0.215, 0.610, 0.355, 1) 4s;

                    overflow: hidden;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;


                    li{
                        a{
                            display: block;
                            padding: 12px;
                            font-size: 14px;
                        }
                        a:hover{
                            background-color: $primaryWhiteColor;
                            color:$primaryColor;

                        }
                    }

                }
              }

              .openProfile{
                ul{
                    display: flex;
                }
              }
              li:last-child{
                  svg{
                    margin-left: 10px;
                    width: 30px;
                    height:30px;
                    background: $primaryWhiteColor;
                  }
              }
          }
      }
}


@media screen and (max-width: 1200px) {
    .container{
        grid-template-columns: 80px auto;
    
        svg{
            width: 25px;
        }
    
        nav{
            #top{
             .half{
                 width: 50%;
                 display: block;
             }
             .full{
                 display: none;
             }
            }
    
            ul{
                li{
                    a{
                        flex-direction: column;
                        justify-content: center;
                        padding: 10px 0;
                        p{
                            font-size: 10px;
                            text-align: center;
                            width: 90%;
                            margin: 0 auto;
                            // background-color: red;

                        }
                        svg{
                            padding: 0px 0px 5px 0px;
                        }
                    }
    
                    a:hover{
                        p{
                            display: inline-block;
                        }
                    }
                }
            }
        }

        header{
            #menuburger{
                svg{
                    transform: rotate(0deg);
                    display: none;
                }
            }
        }
    }   
}

@media screen and (max-width: 790px) {
    .container{
        grid-template-columns: 1fr;
    
        nav{
            display: none;
            top: 0;
            position: absolute;
            z-index: 10;
            width: 100%;
            min-height: 100vh;
            transition: all 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 3s;
            background-color: rgba($color: #000000, $alpha: 0.8);
            #top, #bottom{
                width: 50px;
                margin: 0 0;
                padding: 0 20px;
                background-color: $primaryWhiteColor


            }

            #top{
                padding-top: 20px;
            }

            #bottom{
                border-radius: 0;
                display: flex;
                align-items: flex-end;
            }

            label{
                display: flex;
            }
        }
    
        header{
            // padding: 10px 5% 10px 2%;

            #menuburger{
                img{ display: inline-block;}
                svg{
                    display: inline-block;
                }
            }

            #user_profiling{
                ul{
                    display: flex;
                    margin: 0;
                    padding: 0;
                    gap: 5px;
                    li{
                        display: none;
                    }

                    .dropdown{
                        li{
                            display: inline-block;
                        }
                    }
                    li:last-child{
                        display: block;
                    }

                    
                }
            }
        }
    }  
    
    .halve{
        nav{
            display: grid;
        }
    }
}


@media screen and (max-width: 310px) {
    .container{
        header{
            padding: 10px 2% 10px 1%;

            #user_profiling {
                ul {
                    li {
                        button { font-size: 13px;}
                    }
                }
            }
        }
    }
}








